*{
    margin: 0px;
    padding: 0;
}
.wrapper{
    height: 815px;
    background-color: #808080;
}
.title{
    border-bottom: solid 3px #ffffff;
    padding-top: 300px;
}
.title>p{
    width: 300px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 30px;
    font-family: "游明朝";
}
.wrapper>form{
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
}
.wrapper>form>input{
    border-radius: 3px;
}